[Unit]
Description=RADM XDP Secure Loader
After=radm-hardening.service network.target
Before=radm-firstboot.service

[Service]
Type=oneshot
ExecStart=/opt/radm/tools/radm-xdp-loader.sh
RemainAfterExit=yes

# Systemd hardening (ANSSI compliant)
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ProtectKernelTunables=true
ProtectKernelModules=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target